<app-header></app-header>
		
<app-main-menu></app-main-menu>		

<section id="content" class="content">

	<app-breadcrumb [pageName]="'viewAllBookings'"></app-breadcrumb>
			
	<p-panel header="View All Bookings">
	
		<p-table #dt [value]="bookings" [paginator]="true" [rows]="10">
			
			<ng-template pTemplate="header" let-col>
				<tr>
					<th *ngFor="let col of cols" [ngSwitch]="col.field" [pSortableColumn]="col.field">
						{{col.header}}
						<p-sortIcon *ngSwitchCase="'bookingId'" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
						<p-sortIcon *ngSwitchCase="'startTime'" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
						<p-sortIcon *ngSwitchCase="'endTime'" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
						<p-sortIcon *ngSwitchCase="'dateOfAppointment'" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
						<p-sortIcon *ngSwitchCase="'service.serviceName'" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
						<p-sortIcon *ngSwitchCase="'customer.firstName'" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
						<p-sortIcon *ngSwitchCase="'status'" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
						
					</th>
				</tr>
				
				<tr>
					<th *ngFor="let col of cols" [ngSwitch]="col.field">
						<input placeHolder="Search" *ngSwitchCase="'bookingId'" pInputText size="5" type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
						<input placeHolder="Search" *ngSwitchCase="'service.serviceName'" pInputText size="5" type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
						<input placeHolder="Search" *ngSwitchCase="'customer.firstName'" pInputText size="5" type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
						<input placeHolder="Search" *ngSwitchCase="'status'" pInputText size="5" type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">

					</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-booking>
				<tr>
					<td>{{booking.bookingId}}</td>
					<td>{{booking.service.serviceName}}</td>				
					<td>{{booking.customer.firstName}}</td>
					<td>{{parseDate(booking.dateOfAppointment) | date:'EEE, MMM d, yyyy'}}</td>
					<td>{{parseDate(booking.startTime) | date:'HH:mm:ss'}}</td>
					<td>{{parseDate(booking.endTime) | date:'HH:mm:ss'}}</td>
					<td>{{booking.status}}</td>
					<td><p-button label="View" (onClick)="showDialog(booking)"></p-button></td>
					<td><p-button *ngIf="booking.status=='Approved'" label="Update" (onClick)="showStatusDialog(booking)"></p-button></td>
				</tr>
			</ng-template>
		</p-table>
		
		
		<p-dialog *ngIf="display" header="View Booking Details" modal="true" [(visible)]="display"  [style]="{width: '50vw'}">
			<div class="ui-g">
				<div class="ui-g-6" style="background-color: #f4f4f4;">Booking ID</div>
				<div class="ui-g-6">{{bookingToView.bookingId}}</div>
			</div>
			<div class="ui-g">
				<div class="ui-g-6" style="background-color: #f4f4f4;">Service</div>
				<div class="ui-g-6">{{bookingToView.service.serviceName}}</div>
			</div>
			<div class="ui-g">
				<div class="ui-g-6" style="background-color: #f4f4f4;">Customer Name</div>
				<div class="ui-g-6">{{bookingToView.customer.firstName}} {{bookingToView.customer.lastName}}</div>
			</div>
			<div class="ui-g">
				<div class="ui-g-6" style="background-color: #f4f4f4;">Customer Contact Number</div>
				<div class="ui-g-6">{{bookingToView.customer.contactNum}}</div>
			</div>
			<div class="ui-g">
				<div class="ui-g-6" style="background-color: #f4f4f4;">Date Of Booking</div>
				<div class="ui-g-6">{{parseDate(bookingToView.dateOfBooking) | date:'EEE, MMM d, yyyy'}}</div>
			</div>
			<div class="ui-g">
				<div class="ui-g-6" style="background-color: #f4f4f4;">Date Of Appointment</div>
				<div class="ui-g-6">{{parseDate(bookingToView.dateOfAppointment) | date:'EEE, MMM d, yyyy'}}</div>
			</div>
			<div class="ui-g">
				<div class="ui-g-6" style="background-color: #f4f4f4;">Start Time</div>
				<div class="ui-g-6">{{parseDate(bookingToView.startTime) | date:'HH:mm:ss'}}</div>
			</div>
			<div class="ui-g">
				<div class="ui-g-6" style="background-color: #f4f4f4;">End Time</div>
				<div class="ui-g-6">{{parseDate(bookingToView.endTime) | date:'HH:mm:ss'}}</div>
			</div>
			<div class="ui-g">
				<div class="ui-g-6" style="background-color: #f4f4f4;">Remarks</div>
				<div class="ui-g-6">{{bookingToView.remarks}}</div>
			</div>
			<div class="ui-g">
				<div class="ui-g-6" style="background-color: #f4f4f4;">Status</div>
				<div class="ui-g-6">{{bookingToView.status}}</div>
			</div>
			<div class="ui-g">
				<div class="ui-g-6" style="background-color: #f4f4f4;">Listed Price</div>
				<div class="ui-g-6">${{bookingToView.service.price.toFixed(2)}}</div>
			</div>
			<div class="ui-g">
				<div class="ui-g-6" style="background-color: #f4f4f4;">Price Paid</div>
				<div class="ui-g-6">${{bookingToView.price.toFixed(2)}}</div>
			</div>
		</p-dialog>
		
		<form *ngIf="displayStatus" #updateBookingStatusForm="ngForm" (ngSubmit)="update(updateBookingStatusForm)">
			<p-dialog *ngIf="displayStatus" header="Update Booking Status" modal="true" [(visible)]="displayStatus"  [style]="{width: '50vw'}">
				<div style="text-align: center;">
					<select id="status" name="status" [(ngModel)]="selectedStatus">
						<option *ngFor="let status of statuses" value="{{status}}">{{status}}</option>
					</select>
				</div>
				&nbsp;
				<div style="text-align: center;">
					<p-button type="submit" label="Confirm" icon="pi pi-check"></p-button>
				</div>
				
			</p-dialog>
		</form>
		
	</p-panel>
</section>


<app-footer></app-footer>