<app-header></app-header>
		
<app-main-menu></app-main-menu>		

<section id="content" class="content">

	<app-breadcrumb [pageName]="'viewAllPurchasedLineItems'"></app-breadcrumb>
			
	<p-panel header="All Order Items">
	
		<p-table #dt [value]="purchasedLineItems">
			<ng-template pTemplate="header">
				<tr>
					<th *ngFor="let col of cols" [ngSwitch]="col.field" [pSortableColumn]="col.field">
						{{col.header}}
						<p-sortIcon *ngSwitchCase="'purchasedLineItemId'" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
						<p-sortIcon *ngSwitchCase="'purchased.customer.firstName'" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
						<p-sortIcon *ngSwitchCase="'product.name'" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
						<p-sortIcon *ngSwitchCase="'quantity'" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
						<p-sortIcon *ngSwitchCase="'status'" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
						
					</th>
				</tr>
				
				<tr>
					<th *ngFor="let col of cols" [ngSwitch]="col.field">
						<input placeHolder="Search" *ngSwitchCase="'purchasedLineItemId'" pInputText size="8" type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
						<input placeHolder="Search" *ngSwitchCase="'purchased.customer.firstName'" pInputText size="8" type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
						<input placeHolder="Search" *ngSwitchCase="'product.name'" pInputText size="8" type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
						<input placeHolder="Search" *ngSwitchCase="'status'" pInputText size="8" type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
						<input placeHolder="Search" *ngSwitchCase="'quantity'" pInputText size="8" type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">

					</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-purchasedLineItem>
				<tr>
					<td>{{purchasedLineItem.purchasedLineItemId}}</td>
					<td>{{purchasedLineItem.purchased.customer.firstName}}</td>				
					<td>{{purchasedLineItem.product.name}}</td>
					<td>{{purchasedLineItem.quantity}}</td>
					<td>{{purchasedLineItem.status}}</td>
					<td><p-button label="View" (onClick)="showDialog(purchasedLineItem)"></p-button></td>
					<td><p-button *ngIf="purchasedLineItem.status=='Order Confirmed'" label="Update" (onClick)="showStatusDialog(purchasedLineItem)"></p-button></td>
				</tr>
			</ng-template>
		</p-table>
		
		
		<p-dialog *ngIf="display" header="View Order Item Details" modal="true" [(visible)]="display"  [style]="{width: '50vw'}">
			<div class="ui-g">
				<div class="ui-g-6" style="background-color: #f4f4f4;">Order Item ID</div>
				<div class="ui-g-6">{{purchasedLineItemToView.purchasedLineItemId}}</div>
			</div>
			<div class="ui-g">
				<div class="ui-g-6" style="background-color: #f4f4f4;">Product</div>
				<div class="ui-g-6">{{purchasedLineItemToView.product.name}}</div>
			</div>
			<div class="ui-g">
				<div class="ui-g-6" style="background-color: #f4f4f4;">Quantity</div>
				<div class="ui-g-6">{{purchasedLineItemToView.quantity}}</div>
			</div>
			<div class="ui-g">
				<div class="ui-g-6" style="background-color: #f4f4f4;">Customer Name</div>
				<div class="ui-g-6">{{purchasedLineItemToView.purchased.customer.firstName}} {{purchasedLineItemToView.purchased.customer.lastName}}</div>
			</div>
			<div class="ui-g">
				<div class="ui-g-6" style="background-color: #f4f4f4;">Customer Contact Number</div>
				<div class="ui-g-6">{{purchasedLineItemToView.purchased.customer.contactNum}}</div>
			</div>
			<div class="ui-g">
				<div class="ui-g-6" style="background-color: #f4f4f4;">Address</div>
				<div class="ui-g-6">{{purchasedLineItemToView.purchased.address}}</div>
			</div>
			<div class="ui-g">
				<div class="ui-g-6" style="background-color: #f4f4f4;">Date Of Purchase</div>
				<div class="ui-g-6">{{parseDate(purchasedLineItemToView.purchased.dateOfPurchase) | date:'EEE, MMM d, yyyy'}}</div>
			</div>
			<div class="ui-g">
				<div class="ui-g-6" style="background-color: #f4f4f4;">Status</div>
				<div class="ui-g-6">{{purchasedLineItemToView.status}}</div>
			</div>
			<div class="ui-g">
				<div class="ui-g-6" style="background-color: #f4f4f4;">Listed Price</div>
				<div class="ui-g-6">${{purchasedLineItemToView.product.price.toFixed(2)}}</div>
			</div>
			<div class="ui-g">
				<div class="ui-g-6" style="background-color: #f4f4f4;">Price Paid</div>
				<div class="ui-g-6">${{purchasedLineItemToView.price.toFixed(2)}}</div>
			</div>
		</p-dialog>
		
		<form *ngIf="displayStatus" #updatePurchasedLineItemStatusForm="ngForm" (ngSubmit)="update(updatePurchasedLineItemStatusForm)" >
			<p-dialog *ngIf="displayStatus" header="Update Order Item Status" modal="true" [(visible)]="displayStatus"  [style]="{width: '50vw'}">
				<div style="text-align: center;">
					<select id="status" name="status" [(ngModel)]="selectedStatus">
						<option *ngFor="let status of statuses" value="{{status}}">{{status}}</option>
					</select>
				</div>
				&nbsp;
				<div style="text-align: center;">
					<p-button type="submit" label="Confirm" icon="pi pi-check"></p-button>
				</div>
				
			</p-dialog>
		</form>
		
	</p-panel>
</section>

<app-sidebar></app-sidebar>

<app-footer></app-footer>