<app-header></app-header>

<app-main-menu></app-main-menu>
<section id="content" class="content">

    <p-dataView #dv [value]="services" [paginator]="true" [rows]="20" paginatorPosition="both" filterBy="serviceName">
        <p-header>
            <div class="ui-helper-clearfix">
                <div class="p-grid">
                    <div class="p-col-12 p-md-4">
                        <p-button label="Create New Service" icon="pi pi-plus" (onClick)="showDialog()"></p-button>
                    </div>
                    <div class="p-col-6 p-md-4 filter-container">
                        <div style="position:relative">
                            <input pInputText type="search" pInputText placeholder="Search by Name"
                                (input)="dv.filter($event.target.value)" style="font: large;">
                        </div>
                    </div>
                    <div class="p-col-6 p-md-4" style="text-align:right">
                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                    </div>
                </div>
            </div>
        </p-header>
        <ng-template let-service pTemplate="listItem">
            <div class="p-col-12">
                <div class="product-details">
                    <div>
                        <!-- <img src="assets/showcase/images/demo/car/{{car.brand}}.png"> -->
                        <div class="ui-g">
                            <div class="p-col-12">Name: <b>{{service.serviceName}}</b></div>
                            <div class="p-col-12">Price: <b>${{service.price}}</b></div>
                            <div class="p-col-12">Category: <b>{{service.category.name}}</b></div>
                        </div>
                    </div>
                    <button pButton type="button" icon="pi pi-search"></button>
                </div>
            </div>
        </ng-template>
        <ng-template let-service pTemplate="gridItem">
            <div style="padding:.5em" class="p-col-12 p-md-3">
                <p-panel class="panel" [header]="service.serviceName" [style]="{'text-align':'center'}">
                    <!-- <img src="assets/showcase/images/demo/car/{{car.brand}}.png" width="60"> -->
                    <div class="product-detail">${{service.price}}</div>
                    <div class="product-detail">Category: {{service.category.name}}</div>
                    <button pButton type="button" icon="pi pi-search" style="margin-top:0"></button>
                </p-panel>
            </div>
        </ng-template>
    </p-dataView>

    <p-dialog *ngIf="displayAdd" header="Create New Service" modal="true" [(visible)]="displayAdd" height="200"
        [style]="{width: '60vw'}">
        <form (ngSubmit)="create(addServiceForm)">
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Service Name</div>
                <div class="ui-g-6">
                    <input id="name" name="name" #name="ngModel" type="text" [(ngModel)]="newService.serviceName"
                        required="true" />
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Service Price</div>
                <div class="ui-g-6">
                    <p-spinner id="price" name="price" #name="ngModel" [(ngModel)]="newService.price"
                        required="true" ></p-spinner>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Service Description</div>
                <div class="ui-g-6">
                    <textarea pInputTextarea id="description" name="description" #name="ngModel" type="text"
                        [(ngModel)]="newService.description" required="true" autoResize="autoResize" rows="5" cols="30"></textarea>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Service Category</div>
                <div class="ui-g-6">
                    <p-dropdown [options]="categories" optionLabel="name" editable="true"
                        placeholder="Select a Category" name="selectedCategory" #name="ngModel"
                        [(ngModel)]="selectedCategory"></p-dropdown>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Service Tags</div>
                <div class="ui-g-6">
                    <p-listbox [options]="tags" optionLabel="name" [multiple]="true" [checkbox]="true" name="tagIds"
                        #name="ngModel" [(ngModel)]="selectedTags"></p-listbox>
                </div>
            </div>
            <br />
            <div class="ui-g" style="float:right">
                <button (click)="clear()">Clear</button>
                &nbsp;
                <input type="submit" value="Submit"/>
            </div>
        </form>
    </p-dialog>
</section>