<app-header></app-header>

<app-main-menu></app-main-menu>

<section id="content" class="content">

    <h1>Welcome To Beautify, {{serviceProvider.name}}!</h1>

    <h2> Profile </h2>

    <p>
        <b> Username: </b> {{serviceProvider.username}}
    </p>

    <p>
        <b> Name: </b> {{serviceProvider.name}}
        <p-button (onClick)="showNameDialog(serviceProvider)" label="Update"></p-button>
    </p>

    <p>
        <b> Email: </b> {{serviceProvider.email}}
        <p-button (onClick)="showEmailDialog(serviceProvider)" label="Update"></p-button>
    </p>

    <p>
        <b> Address: </b> {{serviceProvider.address}}
        <p-button (onClick)="showAddressDialog(serviceProvider)" label="Update"></p-button>
    </p>

    <p>
        <b> Store Hours: </b>
        <p-button (onClick)="showHoursDialog(serviceProvider)" label="View"></p-button>
    </p>

    <p>
        <b> Credit Cards: </b>
        <p-button (onClick)="showCCDialog(serviceProvider)" label="View"></p-button>
    </p>

    <p>
        <b> Certification: </b>
        <p-button label="Upload"></p-button>
    </p>

    <p>
        <b> Approval Status: </b> {{approvalStatus}}
    </p>

    <form *ngIf="displayName" #updateNameForm="ngForm" (ngSubmit)="updateName(updateNameForm)">
        <p-dialog *ngIf="displayName" header="Update Name" modal="true" [(visible)]="displayName"
            [style]="{width: '50vw'}">
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Current Name: </div>
                <div class="ui-g-6">{{serviceProvider.name}}</div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">New Name: </div>
                <div class="ui-g-6"><input type="text" name="name" id="name" [(ngModel)]="newName" /></div>
            </div>
            &nbsp;
            <div style="text-align: center;">
                <input (onClick)="closeNameDialog()" type="submit" value="Confirm" icon="pi pi-check" />
            </div>
        </p-dialog>
    </form>

    <form *ngIf="displayEmail" #updateEmailForm="ngForm" (ngSubmit)="updateEmail(updateEmailForm)">
        <p-dialog *ngIf="displayEmail" header="Update Email" modal="true" [(visible)]="displayEmail"
            [style]="{width: '50vw'}">
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Current Email: </div>
                <div class="ui-g-6">{{serviceProvider.email}}</div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">New Email: </div>
                <div class="ui-g-6"><input type="text" name="email" [(ngModel)]="newEmail" /></div>
            </div>
            &nbsp;
            <div style="text-align: center;">
                <input (onClick)="closeEmailDialog()" type="submit" />
            </div>
        </p-dialog>
    </form>

    <form *ngIf="displayAddress" #updateAddressForm="ngForm" (ngSubmit)="updateAddress(updateAddressForm)">
        <p-dialog *ngIf="displayAddress" header="Update Address" modal="true" [(visible)]="displayAddress"
            [style]="{width: '50vw'}">
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Current Address: </div>
                <div class="ui-g-6">{{serviceProvider.address}}</div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">New Address: </div>
                <div class="ui-g-6"><input type="text" name="address" [(ngModel)]="newAddress" /></div>
            </div>
            &nbsp;
            <div style="text-align: center;">
                <input (onClick)="closeAddressDialog()" type="submit" label="Confirm" icon="pi pi-check" />
            </div>
        </p-dialog>
    </form>

    <p-dialog *ngIf="displayHours" header="View Store Hours" modal="true" [(visible)]="displayHours"
        [style]="{width: '50vw'}">
        <p-table>
            <ng-template pTemplate="header">
                <tr>
                    <th>Day</th>
                    <th>Opening Hours</th>
                    <th>Closing Hours</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-days>
                <tr>

                </tr>
            </ng-template>
        </p-table>
        &nbsp;
        <div style="text-align: center;">
            <p-button type="submit" label="Edit"></p-button>
        </div>
    </p-dialog>

    <p-dialog *ngIf="displayCC" header="View Credit Cards" modal="true" [(visible)]="displayCC"
        [style]="{width: '50vw'}">
        <p-table>
            <ng-template pTemplate="header">
                <tr>
                    <th>Type</th>
                    <th>Card Name</th>
                    <th>Card Number</th>
                    <th>Expiry Date</th>
                    <th>Delete</th> 
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-days>
                <tr>

                </tr>
            </ng-template>
        </p-table>
        &nbsp;
        <div style="text-align: center;">
            <p-button type="submit" label="Add"></p-button>
        </div>
    </p-dialog>


</section>

<app-sidebar></app-sidebar>

<app-footer></app-footer>