<app-header></app-header>
		
<app-main-menu></app-main-menu>		

<section id="content" class="content">

	<p-panel header="All Product Categories">
		<p-table #dt [value] ="productCategories">
			<ng-template pTemplate="header">
				<tr>
					<th *ngFor="let col of cols" [ngSwitch]="col.field" [pSortableColumn]="col.field">
							{{col.header}}
							<p-sortIcon *ngSwitchCase="'categoryId'" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
							<p-sortIcon *ngSwitchCase="'name'" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
							<p-sortIcon *ngSwitchCase="'description'" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
							<p-sortIcon *ngSwitchCase="'type'" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
							
					</th>
				</tr>
				
				<tr>
					<th *ngFor="let col of cols" [ngSwitch]="col.field">
							<input placeHolder="Search" *ngSwitchCase="'categoryId'" pInputText size="15" type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
							<input placeHolder="Search" *ngSwitchCase="'name'" pInputText size="15" type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
							<input placeHolder="Search" *ngSwitchCase="'description'" pInputText size="15" type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
							<input placeHolder="Search" *ngSwitchCase="'type'" pInputText size="15" type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">							
					</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-category>
					<tr>
						<td>{{category.categoryId}}</td>
						<td>{{category.name}}</td>
						<td>{{category.description}}</td>
						<td>{{category.type}}</td>
						<td><p-button label="Delete" (onClick)="showDeleteDialog(category)"></p-button></td>
					</tr>
			</ng-template>
		</p-table>
	</p-panel>

	<br/>
	
	<p-button label="Create new product category" icon="pi pi-plus" (onClick)= "showCreateDialog()"></p-button>

	<p-dialog *ngIf="displayCreate" header="Create new product category" modal="true" [(visible)]="displayCreate" height="200"
        [style]="{width: '60vw'}">
		<form *ngIf="displayCreate" #createCategoryForm="ngForm" (ngSubmit) = "create(createCategoryForm)">
			<div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Category Name</div>
                <div class="ui-g-6">
                    <input id="name" name="name" #name="ngModel" type="text" [(ngModel)]="newCategoryName" required="true" />
                </div>
            </div>
			<div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Category Description</div>
                <div class="ui-g-6">
                    <input id="description" name="description" #name="ngModel" type="text" [(ngModel)]="newCategoryDesc" required="true" />
                </div>
            </div>
			<div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Select parent category: </div>
                <div class="ui-g-6">
                    <p-dropdown [options]="rootCategories" optionLabel="name" editable="true"
                     placeholder="Select a parent category" name="rootCategory" #name="ngModel" [(ngModel)]="rootCategory">
                    </p-dropdown>
                </div>
            </div>
			<br />
            <div class="ui-g" style="float:right">
                <button (click)="clear()">Clear</button>
                &nbsp;
                <input type="submit" value="Submit" />
            </div>
		</form>
	</p-dialog>
	
	<p-dialog *ngIf="displayDelete" header="Delete category" modal="true" [(visible)]="displayDelete" height="200"
        [style]="{width: '60vw'}">
		<form (ngSubmit) = "deleteCategory(deleteCategoryForm)">
			<div style="text-align: center;">
                <div style="text-align: center;">
                    Are you sure you want to delete this category?
                </div>
                <div style="clear:both;">&nbsp;</div>
                <div>
                    <input type="submit" value="Confirm" />
                </div>
            </div>
		</form>
	</p-dialog>
	
</section>

<app-footer></app-footer>