<app-header></app-header>

<app-main-menu></app-main-menu>

<section id="content" class="content">

    <p-dataView #dv [value]="products" [paginator]="true" [rows]="20" paginatorPosition="both" filterBy="name">
        <p-header>
            <div class="ui-helper-clearfix">
                <div class="p-grid">
                    <div class="p-col-12 p-md-4">
                        <p-button label="Create New Product" icon="pi pi-plus" (onClick)="showDialog()"></p-button>
                    </div>
                    <div class="p-col-6 p-md-4 filter-container">
                        <div style="position:relative">
                            <input pInputText type="search" pInputText placeholder="Search by Name"
                                (input)="dv.filter($event.target.value)" style="font: large;">
                        </div>
                    </div>
                    <div class="p-col-6 p-md-4" style="text-align:right">
                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                    </div>
                </div>
            </div>
        </p-header>
        <ng-template let-product pTemplate="listItem">
            <div class="p-col-12">
                <div class="product-details">
                    <div>
                        <!-- <img src="assets/showcase/images/demo/car/{{car.brand}}.png"> -->
                        <div class="ui-g">
                            <div class="p-col-12">Name: <b>{{product.name}}</b></div>
                            <div class="p-col-12">Price: <b>${{product.price}}</b></div>
                            <div class="p-col-12">Quantity: <b>{{product.quantityOnHand}}</b></div>
                        </div>
                    </div>
                    <div style="text-align: right;">
                        <p-button icon="pi pi-camera" (onClick)="showPhotoDialog(product)"></p-button>
                        &nbsp;
                        <p-button icon="pi pi-info-circle" (onClick)="showViewDialog(product)"></p-button>
                        &nbsp;
                        <p-button icon="pi pi-pencil" (onClick)="showUpdateDialog(product)"></p-button>
                        &nbsp;
                        <p-button icon="pi pi-trash" (onClick)="showDeleteDialog(product)"></p-button>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template let-product pTemplate="gridItem">
            <div style="padding:.5em" class="p-col-12 p-md-3">
                <p-panel class="panel" [header]="product.name" [style]="{'text-align':'center'}">
                    <!-- <img src="assets/showcase/images/demo/car/{{car.brand}}.png" width="60"> -->
                    <div class="product-detail">${{product.price}}</div>
                    <div class="product-detail">Quantity: {{product.quantityOnHand}}</div>
                    <p-button icon="pi pi-camera" (onClick)="showPhotoDialog()"></p-button>
                    &nbsp;
                    <p-button icon="pi pi-info-circle" style="margin-top:0" (onClick)="showViewDialog(product)">
                    </p-button>
                    &nbsp;
                    <p-button icon="pi pi-pencil" (onClick)="showUpdateDialog(product)"></p-button>
                    &nbsp;
                    <p-button icon="pi pi-trash" (onClick)="showDeleteDialog(product)"></p-button>
                </p-panel>
            </div>
        </ng-template>
    </p-dataView>

    <p-dialog *ngIf="displayPhoto" header="Delete Product" modal="true" [(visible)]="displayPhoto" height="200"
        [style]="{width: '50vw'}">
        <form>
            <div style="text-align: center;">
                <!-- <div style="text-align: center;">
                    Are you sure you want to delete this product?
                </div>
                <div style="clear:both;">&nbsp;</div> -->
                <form>
                    <p-fileUpload url="/api/FileUpload" (onUpload)="onUpload($event)" multiple="multiple"
                        accept="image/*" maxFileSize="1000000">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </form>
            </div>
        </form>
    </p-dialog>

    <p-dialog *ngIf="displayAdd" header="Create New Product" modal="true" [(visible)]="displayAdd" height="200"
        [style]="{width: '60vw'}">
        <form (ngSubmit)="create(addProductForm)">
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Product SkuCode</div>
                <div class="ui-g-6">
                    <input id="skuCode" name="skuCode" #name="ngModel" type="text" [(ngModel)]="newProduct.skuCode"
                        required="true" />
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Product Name</div>
                <div class="ui-g-6">
                    <input id="name" name="name" #name="ngModel" type="text" [(ngModel)]="newProduct.name"
                        required="true" />
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Product Price</div>
                <div class="ui-g-6">
                    <input id="price" name="price" #name="ngModel" [(ngModel)]="newProduct.price" required="true" />
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Product Description</div>
                <div class="ui-g-6">
                    <textarea pInputTextarea id="description" name="description" #name="ngModel" type="text"
                        [(ngModel)]="newProduct.description" required="true" autoResize="autoResize" rows="5"
                        cols="30"></textarea>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Product Quantity</div>
                <div class="ui-g-6">
                    <p-spinner id="quantity" name="quantity" #name="ngModel" [(ngModel)]="newProduct.quantityOnHand"
                        required="true"></p-spinner>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Product Category</div>
                <div class="ui-g-6">
                    <p-dropdown [options]="categories" optionLabel="name" editable="true"
                        placeholder="Select a Category" name="selectedCategory" #name="ngModel"
                        [(ngModel)]="selectedCategory"></p-dropdown>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Product Tags</div>
                <div class="ui-g-6">
                    <p-listbox [options]="tags" optionLabel="name" [multiple]="true" [checkbox]="true" name="tagIds"
                        #name="ngModel" [(ngModel)]="selectedTags"></p-listbox>
                </div>
            </div>
            <br />
            <div class="ui-g" style="float:right">
                <button (click)="clear()">Clear</button>
                &nbsp;
                <input type="submit" value="Submit" />
            </div>
        </form>
    </p-dialog>

    <p-dialog *ngIf="displayUpdate" header="Update Product Details" modal="true" [(visible)]="displayUpdate"
        [style]="{width: '50vw'}">
        <form (ngSubmit)="update(updateProductForm)">
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Product Id</div>
                <div class="ui-g-6">{{productToUpdate.productId}}</div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Product SkuCode</div>
                <div class="ui-g-6">{{productToUpdate.skuCode}}</div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Product Name</div>
                <div class="ui-g-6">
                    <input id="name" name="name" #name="ngModel" type="text" [(ngModel)]="productToUpdate.name"
                        required="true" />
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Product Price</div>
                <div class="ui-g-6">
                    <input id="price" name="price" #name="ngModel" type="text" [(ngModel)]="productToUpdate.price"
                        required="true" />
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Product Description</div>
                <div class="ui-g-6">
                    <textarea pInputTextarea id="description" name="description" #name="ngModel" type="text"
                        [(ngModel)]="productToUpdate.description" required="true" autoResize="autoResize" rows="5"
                        cols="30"></textarea>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Product Quantity</div>
                <div class="ui-g-6">
                    <p-spinner id="quantity" name="quantity" #name="ngModel"
                        [(ngModel)]="productToUpdate.quantityOnHand" required="true"></p-spinner>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Product Category</div>
                <div class="ui-g-6">
                    <p-dropdown [options]="categories" optionLabel="name" editable="true"
                        placeholder="Select a Category" name="updatedCategory" #name="ngModel"
                        [(ngModel)]="updatedCategory"></p-dropdown>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Product Tags</div>
                <div class="ui-g-6">
                    <p-listbox [options]="tags" optionLabel="name" [multiple]="true" [checkbox]="true" name="tagIds"
                        #name="ngModel" [(ngModel)]="selectUpdatedTags"></p-listbox>
                </div>
            </div>
            <br />
            <div class="ui-g" style="float:right">
                <button (click)="clear()">Clear</button>
                &nbsp;
                <input type="submit" value="Submit" />
            </div>
        </form>
    </p-dialog>

    <p-dialog *ngIf="displayView" header="View Product Details" modal="true" [(visible)]="displayView"
        [style]="{width: '50vw'}">
        <div class="ui-g">
            <div class="ui-g-6" style="background-color: #f4f4f4;">Product ID</div>
            <div class="ui-g-6">{{productToView.productId}}</div>
        </div>
        <div class="ui-g">
            <div class="ui-g-6" style="background-color: #f4f4f4;">SKU Code</div>
            <div class="ui-g-6">{{productToView.skuCode}}</div>
        </div>
        <div class="ui-g">
            <div class="ui-g-6" style="background-color: #f4f4f4;">Name</div>
            <div class="ui-g-6">{{productToView.name}}</div>
        </div>
        <div class="ui-g">
            <div class="ui-g-6" style="background-color: #f4f4f4;">Unit Price</div>
            <div class="ui-g-6">{{productToView.price | currency}}</div>
        </div>
        <div class="ui-g">
            <div class="ui-g-6" style="background-color: #f4f4f4;">Description</div>
            <div class="ui-g-6">{{productToView.description}}</div>
        </div>
        <div class="ui-g">
            <div class="ui-g-6" style="background-color: #f4f4f4;">Quantity On Hand</div>
            <div class="ui-g-6">{{productToView.quantityOnHand}}</div>
        </div>
        <div class="ui-g">
            <div class="ui-g-6" style="background-color: #f4f4f4;">Category</div>
            <div class="ui-g-6">{{productToView.category.name}}</div>
        </div>
        <div class="ui-g">
            <div class="ui-g-6" style="background-color: #f4f4f4;">Tag(s)</div>
            <div class="ui-g-6">
                <ul style="margin-left: 20px;">
                    <li *ngFor="let tag of productToView.tags">{{tag.name}}</li>
                </ul>
            </div>
        </div>
    </p-dialog>

    <p-dialog *ngIf="displayDelete" header="Delete Product" modal="true" [(visible)]="displayDelete" height="200"
        [style]="{width: '50vw'}">
        <form (ngSubmit)="delete(deleteProductForm)">
            <div style="text-align: center;">
                <div style="text-align: center;">
                    Are you sure you want to delete this product?
                </div>
                <div style="clear:both;">&nbsp;</div>
                <div>
                    <input type="submit" value="Confirm" />
                </div>
            </div>
        </form>
    </p-dialog>
</section>



<app-footer></app-footer>