<app-header></app-header>

<app-main-menu></app-main-menu>

<section id="content" class="content">

    <p-panel header="Reviews">

        <h4> Service Reviews </h4>

        <p-table #dt [value]="serviceReviews" [paginator]="true" [rows]="10">
            <ng-template pTemplate="header" let-col>
                <tr>
                    <th *ngFor="let col of cols" [ngSwitch]="col.field" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon *ngSwitchCase="'reviewId'" [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                        <p-sortIcon *ngSwitchCase="'booking.service.serviceName'" [field]="col.field"
                            ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                        <p-sortIcon *ngSwitchCase="'booking.customer.firstName'" [field]="col.field"
                            ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                        <p-sortIcon *ngSwitchCase="'rating'" [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                </tr>

                <tr>
                    <th *ngFor="let col of cols" [ngSwitch]="col.field">
                        <input placeHolder="Search" *ngSwitchCase="'reviewId'" pInputText size="15" type="text"
                            (input)="dt.filter($event.target.value, col.field, 'contains')">
                        <input placeHolder="Search" *ngSwitchCase="'booking.service.serviceName'" pInputText size="15"
                            type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                        <input placeHolder="Search" *ngSwitchCase="'rating'" pInputText size="15" type="text"
                            (input)="dt.filter($event.target.value, col.field, 'contains')">
                    </th>
                </tr>

            </ng-template>
            <ng-template pTemplate="body" let-review>
                <tr>
                    <td>{{review.reviewId}}</td>
                    <td>{{review.booking.service.serviceName}}</td>
                    <td>{{review.booking.customer.firstName}}</td>
                    <td>
                        <p-rating [(ngModel)]="review.rating" stars="5" readonly="true" enabled="false"
                            iconCancelClass="" ngDefaultControls></p-rating>
                    </td>
                    <td style="text-align: center;">
                        <p-button label="View" (onClick)="showServiceDialog(review)"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <br /><br />

        <h4> Product Reviews </h4>

        <p-table #dt [value]="productReviews" [paginator]="true" [rows]="10">

            <ng-template pTemplate="header" let-col>
                <tr>
                    <th *ngFor="let col of cols1" [ngSwitch]="col.field" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon *ngSwitchCase="'reviewId'" [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                        <p-sortIcon *ngSwitchCase="'purchasedLineItem.product.name'" [field]="col.field"
                            ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                        <p-sortIcon *ngSwitchCase="'customer.firstName'" [field]="col.field"
                            ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                        <p-sortIcon *ngSwitchCase="'rating'" [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                </tr>

                <tr>
                    <th *ngFor="let col of cols1" [ngSwitch]="col.field">
                        <input placeHolder="Search" *ngSwitchCase="'reviewId'" pInputText size="15" type="text"
                            (input)="dt.filter($event.target.value, col.field, 'contains')">
                        <input placeHolder="Search" *ngSwitchCase="'purchasedLineItem.product.name'" pInputText size="15"
                            type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                        <input placeHolder="Search" *ngSwitchCase="'rating'" pInputText size="15" type="text"
                            (input)="dt.filter($event.target.value, col.field, 'contains')">
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-review>
                <tr>
                    <td>{{review.reviewId}}</td>
                    <td>{{review.purchasedLineItem.product.name}}</td>
                    <td>{{review.customer.firstName}}</td>
                    <td>
                        <p-rating [(ngModel)]="review.rating" stars="5" readonly="true" enabled="false"
                            iconCancelClass="" ngDefaultControls></p-rating>
                    </td>
                    <td style="text-align: center;">
                        <p-button label="View" (onClick)="showProductDialog(review)"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <p-dialog *ngIf="displayService" header="View Service Review Details" modal="true" [(visible)]="displayService"
            [style]="{width: '50vw'}">
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Review ID</div>
                <div class="ui-g-6">{{serviceReviewToView.reviewId}}</div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Service Name</div>
                <div class="ui-g-6">{{serviceReviewToView.booking.service.serviceName}}</div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Customer Name</div>
                <div class="ui-g-6">{{serviceReviewToView.booking.customer.firstName}}
                    {{serviceReviewToView.booking.customer.lastName}}</div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Date Of Appointment</div>
                <div class="ui-g-6">{{parseDate(serviceReviewToView.booking.dateOfAppointment) | date:'MMM d, yyyy'}}
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Review Rating</div>
                <div class="ui-g-6">
                    <p-rating [(ngModel)]="serviceReviewToView.rating" stars="5" readonly="true" enabled="false"
                        iconCancelClass="" ngDefaultControls></p-rating>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Review Description</div>
                <div class="ui-g-6">{{serviceReviewToView.description}}</div>
            </div>
        </p-dialog>

        <p-dialog *ngIf="displayProduct" header="View Product Review Details" modal="true" [(visible)]="displayProduct"
            [style]="{width: '50vw'}">
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Review ID</div>
                <div class="ui-g-6">{{productReviewToView.reviewId}}</div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Product Name</div>
                <div class="ui-g-6">{{productReviewToView.purchasedLineItem.product.name}}</div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Customer Name</div>
                <div class="ui-g-6">{{productReviewToView.customer.firstName}} {{productReviewToView.customer.lastName}}
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Date Of Purchase</div>
                <div class="ui-g-6">
                    {{parseDate(productReviewToView.purchasedLineItem.purchased.dateOfPurchase) | date:'MMM d, yyyy'}}
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Review Rating</div>
                <div class="ui-g-6">
                    <p-rating [(ngModel)]="productReviewToView.rating" stars="5" readonly="true" enabled="false"
                        iconCancelClass="" ngDefaultControls></p-rating>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6" style="background-color: #f4f4f4;">Review Description</div>
                <div class="ui-g-6">{{productReviewToView.description}}</div>
            </div>
        </p-dialog>

    </p-panel>
</section>

<app-footer></app-footer>